<html>
	<head>
		<title>Consultr.io - Dashboard</title>
		<meta charset="UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboardStyle.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/editProfile.css') }}">
	</head>
	<body>
		<div class='headerBackboard'></div>
		<header class='transprHeader'>
			<div class='headerContainer'>
				<h1>Consultr.io</h1>
				<p>The world's first and only online consultation market.</p>
				<ul class="nav nav-pills">
  					<li class="dropdown active">
    					 <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Balaji Srinvisian <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">Help</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
                      </ul>
  					</li>
					<lie class='active'>
				</ul>
			</div>
		</header>
		<div class='container'>
			<br>
			<div class='row-fluid'>
				<div class='span3'>
					<ul class="well nav nav-list" style="margin-bottom: 18px;">
			    		<li class="">
						    <a href="{{url_for('dashboard')}}"><i class='icon-list-alt'></i> Dashboard</a>
						</li>
						    
						<li class="">
						    <a href="{{url_for('pendingOffers')}}"><i class='icon-exclamation-sign'></i> 	Pending Offers</a>
						</li>
						    
						<li class="">
						    <a href="{{url_for('editRateCard')}}"><i class='icon-tasks'></i> Edit RateCard</a>
						</li>
						<li class="active">
						    <a href="#"><i class='icon-user dark'></i> Edit Profile</a>
						</li>
					</ul>
				</div>
				<div class='span9'>
					<div class='well'>
						<div class='currContent'>
							<div class='new-section'><h3><i class='icon-plus'></i> Create New Section</h3></div>
							<hr class='style-one bottom-bar'>
							<h3>Basic Info</h3>
							<button class='btn editButton' for='basicInfo'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='basicInfo'>
								<img src='http://research.microsoft.com/en-us/groups/mldept/viola.jpg' width="100px">
								<p><i class='icon-user'></i> Daniel Haggerty</p>
								<p><i class='icon-map-marker'></i> San Francisco, CA</p>
								<p><i class='icon-briefcase'></i> Machine Learning Researcher - Stanford University</p>
								<p><i class='icon-book'></i> Oxford University - Statistics Ph.D '85</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Background</h3>
							<button class='btn editButton' for='background'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='background'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elit varius nibh rutrum vulputate scelerisque tempor leo. Vivamus fermentum pharetra libero ac vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis lacus lacus. Suspendisse potenti. Nulla at risus at purus adipiscing accumsan a eu massa. In sit amet ante nec velit pulvinar ultricies. Vestibulum non tellus purus, vehicula varius nibh.</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Experience</h3>
							<button class='btn editButton' for='experience'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='experience'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elit varius nibh rutrum vulputate scelerisque tempor leo. Vivamus fermentum pharetra libero ac vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis lacus lacus. Suspendisse potenti. Nulla at risus at purus adipiscing accumsan a eu massa. In sit amet ante nec velit pulvinar ultricies. Vestibulum non tellus purus, vehicula varius nibh.</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Research</h3>
							<button class='btn editButton' for='research'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='research'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elit varius nibh rutrum vulputate scelerisque tempor leo. Vivamus fermentum pharetra libero ac vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis lacus lacus. Suspendisse potenti. Nulla at risus at purus adipiscing accumsan a eu massa. In sit amet ante nec velit pulvinar ultricies. Vestibulum non tellus purus, vehicula varius nibh.</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Skills/Expertise</h3>
							<button class='btn editButton' for='skills-expertise'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='skills-expertise'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elit varius nibh rutrum vulputate scelerisque tempor leo. Vivamus fermentum pharetra libero ac vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis lacus lacus. Suspendisse potenti. Nulla at risus at purus adipiscing accumsan a eu massa. In sit amet ante nec velit pulvinar ultricies. Vestibulum non tellus purus, vehicula varius nibh.</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Contact</h3>
							<button class='btn editButton' for='contact'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section' id='contact'>
								<p><i class='icon-envelope'></i>  daniel@haggerty.com</p>
								<p><i class='icon-signal'></i>  555-555-5555</p>
								<p><i class='icon-globe'></i>  <a href='#'>http://www.danielhaggerty.com</a></p>
								<p><i class='icon-home'></i> 531 Lasuen Mall P.O. #12345, Stanford, CA 94305</p>
							</div>
							<hr class='style-one bottom-bar'>
							<h3>Tags</h3>
							<button class='btn editButton' for='tags'><i class='icon-pencil'></i> Edit</button>
							<hr class='style-one top-bar'>
							<div class='profile-section tags-section' id='tags'>
								<p>Machine Learning</p>
								<p>Data Mining</p>
								<p>Computer Science</p>
								<p>Mathematics</p>
								<p>Recruitment</p>
							</div>
							<hr class='style-one bottom-bar'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
