 <html>
	<head>
		<title>Consultr.io - Dashboard</title>
		<meta charset="UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="{{ url_for('static', filename='js/consultr.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<script src="{{ url_for('static', filename='js/editRateCard.js') }}"></script>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboardStyle.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/accordionTest.css') }}">
		<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/editRateCard.css')}}">
	</head>
	<body>
		<div id="addItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
		  <div class="modal-body">
		    <form class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="inputType">Choose Item</label>
			    <div class="controls">
			    	<select multiple='multiple' id='inputType' size='9'>
				    	<option selected='selected'>Resume Evaluation</option>
				    	<option>Quick Email</option>
				    	<option>Recruit Evaluation</option>
				    	<option>Business Plan Evaluation</option>
				    	<option>Per-Diem Consultation</option>
				    	<option>Investment Evaluation</option>
				    	<option>Advisory Board Membership</option>
				    	<option>Expert Witness</option>
				    	<option>Other</option>
				    </select>
			    </div>
			  </div>
			</form>
			
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Add Item</button>
		  </div>
		</div>
	<div class='background'>	
		<div class='headerBackboard'></div>
		<header class='transprHeader'>
			<div class='headerContainer'>
				<h1>Consultr.io</h1>
				<p>The world's first and only online consultation market.</p>
				<ul class="nav nav-pills">
  					<li class="dropdown active">
    					 <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Daniel Haggerty <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">Help</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
                      </ul>
  					</li>
					<lie class='active'>
				</ul>
			</div>
		</header>
		<div class='container'>
			<br>
			<div class='row-fluid'>
				<div class='span3'>
					<ul class="well nav nav-list" style="margin-bottom: 18px;">
			    		<li class="">
						    <a href="{{url_for('dashboard')}}"><i class='icon-list-alt'></i> Dashboard</a>
						</li>
						    
						<li class="">
						    <a href="{{url_for('pendingOffers')}}"><i class='icon-exclamation-sign'></i> 	Pending Offers</a>
						</li>
						    
						<li class="active">
						    <a href="#"><i class='icon-tasks'></i> Edit RateCard</a>
						</li>
						<li class="">
						    <a href="{{url_for('editProfile')}}"><i class='icon-user dark'></i> Edit Profile</a>
						</li>
					</ul>
				</div>
				<div class='span9'>
					<div class='well'>
						<div class='currContent'>
							<div class='row-fluid'>
								<div class='span12'>
									<div class='rateEditHeader'>
										<h3>Edit RateCard</h3>
										<a href="#addItemModal" class='btn addItemBtn' role='button' data-toggle='modal'><i class="icon-plus"></i> Add Item</a>
										<button class='btn saveChangesBtn'><i class="icon-ok"></i> Save Changes</button>
									</div>
									<div id='accordion'>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='footer'>
			<div class='footerContainer'>
				<p>© 2013 Consultr.io.  All rights reserved.</p>
				<a href='#'>About Us</a>
				- <a href='#'>Contact</a>
				- <a href='#'>Privacy Policy</a>
			</div>
		</div>
	</body>
</html>
