<html>
	<head>
		<title>Consultr.io - Dashboard</title>
		<meta charset="UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="{{ url_for('static', filename='js/consultr.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<script src="{{ url_for('static', filename='js/editRateCard.js') }}"></script>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboardStyle.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/accordionTest.css') }}">
		<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/editRateCard.css')}}">
	</head>
	<body>
		<div id="addItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
		  <div class="modal-body">
		    <form class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="inputType">Choose Item</label>
			    <div class="controls">
			    	<select multiple='multiple' id='inputType' size='9'>
				    	<option selected='selected'>Resume Evaluation</option>
				    	<option>Quick Email</option>
				    	<option>Recruit Evaluation</option>
				    	<option>Business Plan Evaluation</option>
				    	<option>Per-Diem Consultation</option>
				    	<option>Investment Evaluation</option>
				    	<option>Advisory Board Membership</option>
				    	<option>Expert Witness</option>
				    	<option>Other</option>
				    </select>
			    </div>
			  </div>
			</form>
			
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Add Item</button>
		  </div>
		</div>
		<div class='headerBackboard'></div>
		<header class='transprHeader'>
			<div class='headerContainer'>
				<h1>Consultr.io</h1>
				<p>The world's first and only online consultation market.</p>
				<ul class="nav nav-pills">
  					<li class="dropdown active">
    					 <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Balaji Srinvisian <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">Help</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
                      </ul>
  					</li>
					<lie class='active'>
				</ul>
			</div>
		</header>
		<div class='container'>
			<br>
			<div class='row-fluid'>
				<div class='span3'>
					<ul class="well nav nav-list" style="margin-bottom: 18px;">
			    		<li class="">
						    <a href="{{url_for('dashboard')}}"><i class='icon-list-alt'></i> Dashboard</a>
						</li>
						    
						<li class="">
						    <a href="{{url_for('pendingOffers')}}"><i class='icon-exclamation-sign'></i> 	Pending Offers</a>
						</li>
						    
						<li class="active">
						    <a href="#"><i class='icon-tasks'></i> Edit RateCard</a>
						</li>
						<li class="">
						    <a href="{{url_for('editProfile')}}"><i class='icon-user dark'></i> Edit Profile</a>
						</li>
					</ul>
				</div>
				<div class='span9'>
					<div class='well'>
						<div class='currContent'>
							<div class='row-fluid'>
								<div class='span12'>
									<div class='rateEditHeader'>
										<h3>Edit RateCard</h3>
										<a href="#addItemModal" class='btn addItemBtn' role='button' data-toggle='modal'><i class="icon-plus"></i> Add Item</a>
										<button class='btn saveChangesBtn'><i class="icon-ok"></i> Save Changes</button>
									</div>
									<div id='accordion'>
										<div class='group'>
											<h3><a href="#">Resume Evaluation<button type="button" class="close">&times;</button></a></h3>
												<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										
										<div class='group'>
											<h3><a href="#">Quick Email<button type="button" class="close">&times;</button></a></h3>
											<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										<div class='group'>
											<h3><a href="#">Recruit Evaluation<button type='button' class='close'>&times;</button></a></h3>
										<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										<div class='group'>

										<h3><a href="#">Business Plan Evaluation<button type='button' class='close'>&times;</button></a></h3>
											<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										<div class='group'>

										<h3><a href="#">Per-Diem Consultation<button type='button' class='close'>&times;</button></a></h3>
											<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										<div class='group'>

										<h3><a href="#">Investment Evaluation<button type='button' class='close'>&times;</button></a></h3>
											<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
										<div class='group'>

										<h3><a href="#">Advisory Board Membership<button type='button' class='close'>&times;</button></a></h3>
											<form class="form-horizontal">
												  <div class="control-group">
												    <label class="control-label" for="inputPrice">Price</label>
												    <div class="controls">
											      		<div class="input-prepend">
														  <span class="add-on">$</span>
														  <input class="span4" id="inputPrice" type="text" value="50">
														</div>
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputTagline">Tagline</label>
												    <div class="controls">
												     	<textarea rows='3' id='inputTagline'>Resume/candidate evaluations for applicants specializing in Machine Learning and Biocomputation.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputDescription">Description</label>
												    <div class="controls">
												     	<textarea rows='7' id='inputDescription'>I have spent a significant portion of my tenure at Stanford researching Machine Learning algorithms, and have been published in Science twice in the time period.  I have also served as CTO for three different big-data-driven companies, and have evaluated countless candidates in my field of expertise.  I would happily look over any resume, and would be willing (for an additional fee) to consult on an in-person interview.
												     	</textarea> 
												    </div>
												  </div>
												  <div class="control-group">
												    <label class="control-label" for="inputFollowUp">Follow-Up </label>
												    <div class="controls">
												     	<select id='inputFollowUp'>
												     		<option>Resume Upload + Due Date</option>
												     		<option>Contact Me</option>
												     	</select>
												    </div>
												  </div>
												  <div class="control-group">
												    <div class="controls">
												      <label class="checkbox">
												      	Include Consultr Contract&trade;
												        <input type="checkbox"> 
												      </label>
												    </div>
												  </div>
												</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
