<html>
	<head>
		<meta charset="UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/consultr.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/bootstrap.min.css') }}'>
		<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/consultr.css') }}'>
	</head>
	<body style='background-color: rgba(255, 255, 255, 0)'>
		<div id="consultrContainer">
			<div id="consultrHeader">
				<div id="consultrProfileHeader">
				</div>
											</div>
											<div id="consultrTabPane">
												<div class="consultrTabItem active" href="#">RateCard</div>
												<div class="consultrTabItem" href="#">About Me</div>
												<div class="consultrTabItem" href="#">Contact</div>
											</div>
											<div id="consultrContentContainer">
												<div id="consultrRateCard">
												</div>
												<div id="consultrAboutMe" class="consultrInvisible">
												</div>
												<div id="consultrContact" class="consultrInvisible">
													<form>
								  						<fieldset>
								    						<label>Name</label>
								     						<input type="text" id="inputName" class="input-medium" placeholder="John Doe">
								   							<label>E-Mail</label>
															<input type="text" id="inputEmail" class="input-medium" placeholder="john@doe.com">
								  							<label>Message</label>
								      						<textarea rows="3" class="input-medium" id="inputMessage"></textarea>
								    						<button type="submit" class="btn">Send</button>
								  						</fieldset>
													</form>
												</div>
											</div>
										</div>
	</body>
</html>
