<html>
	<head>
		<title>Consultr.io - Dashboard</title>
		<meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboardStyle.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/signUp.css') }}">
	</head>
	<body>
		<div class='background'>
			<div class='headerBackboard'></div>
			<header class='transprHeader'>
				<div class='headerContainer'>
					<h1>Consultr.io</h1>
					<p>The world's first and only online consultation market.</p>
					<button class='btn btn-inverse'>Sign Up</button>
				</div>
				<a href="{{ url_for('login') }}" id='loginLink'>LOG IN</a>
			</header>
			<div class='row-fluid'>
				<div class='offset2 span8'>
					<br>
					<div class='well'>
						<h3>Create a Consultr.io Account</h3>
						<hr class='style-one top-bar'>
						<div class='row-fluid'>
							<div class='offset1 span5'>
								<form action="{{ url_for('processSignUp') }}" method="GET">
										<label>Your Name</label>
										<input type='text' class='span6' placeholder="First Name">
										<input type='text' class='span6' placeholder="Last Name">
										<labeL>E-Mail</label>
										<input type='text' name="email" class='span12' placeholder="E-mail">	
							</div>
							<div class='span5'>
									<fieldset>
										<label>Password</label>
										<input type='password' name= "password"  class='span12' placeholder='Password'>
										<labeL>Confirm Password</label>
										<input type='password' class='span12' placeholder='Password'>	
									</fieldset>
							</div>
						</div>
						<div class='row-fluid'>
							<div class='offset1 span10'>
								<ul class="pager">
								 <li class="next">
							     <button type="submit" style='float:right' class="btn">Sign up</button>	
                				 </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='footer'>
			<div class='footerContainer'>
				<p>© 2013 Consultr.io.  All rights reserved.</p>
				<a href='#'>About Us</a>
				- <a href='#'>Contact</a>
				- <a href='#'>Privacy Policy</a>
			</div>
		</div>
	</body>
</html>
